<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h1 style='color: red'>AGORA SIM, HEIN? </H1>
            <hr>
            <p>Esse PDF tem muuito conteudo, hein?</p>
            <p>Nome: <%= nome %> </p>
            <p>Curso: <%= curso %> </p>
            <p>Categoria: <%= categoria %> </p>
            <img src='https://s2.glbimg.com/tH4QPs-kSbx9hj3wxGX6b1slzzo=/940x523/e.glbimg.com/og/ed/f/original/2018/05/24/will-i-am.jpeg' />
        
    </body>
</html>